
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgba(41,41,54,255)
    ;
}

header{
    background-color: rgba(175,147,217,255);
    color: rgba(175,147,217,255);
    padding: 15px;
}

.painel{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content{
    margin-top:80px;
    display:flex;
    justify-content: right;
    align-items: center;
    align-content: center;

}

.title{
    color: rgba(253,121,198,255);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.info{
    font-family: 'Source Code Pro', monospace;
    color: rgba(175,147,217,255);
    text-align: left;
    padding: 3px;
    margin-left: 7px;
}

.card{
    background-color: rgba(53,55,72,255);
    box-shadow:0px 0px 15px rgba(53,55,72,255,0.9);
    border-radius: 5px;
    
}

.barras{
    width: 500px;
    height: 3px;
    padding: 5px;
    background-color: #ccc;
    margin: 10px;
    border-radius: 30px;

  }

.titulos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    
}

.painel ul{
color:aliceblue;
font-size: 30px;
font-family: 'Source Code Pro', monospace;
}



