
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
  }

body{
    background: radial-gradient(circle at top right, #e66465, #9198e5);
    background-repeat:no-repeat;
    background-position:0ch;
    background-attachment: fixed;
}

header{
    background-color: rgba(175,147,217,255);
    color: rgba(175,147,217,255);
    padding: 15px;
}

.painel{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.left-card{
background: rgba(255, 255, 255, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15.6px);
-webkit-backdrop-filter: blur(15.6px);
border: 1px solid rgba(255, 255, 255, 0.48);
    padding: 10px 40px 10px 40px;
}


.content{
    margin: 7px;
    display:flex;
    justify-content: right;
    align-items: center;
    align-content: center;

}

.title{
    color: rgba(253,121,198,255);
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.info{
    font-family: 'Source Code Pro', monospace;
    color: aliceblue;
    text-align: left;
    padding: 3px;
    margin-left: 7px;
}

.card{
    background-color: rgba(53,55,72,255);
    box-shadow:0px 0px 15px rgba(53,55,72,255,0.9);
    border-radius: 5px;
    
    
}

.barras{
    width: 500px;
    height: 3px;
    padding: 5px;
    background-color: #ccc;
    margin: 10px;
    border-radius: 30px;

  }

.titulos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    color:rgb(255, 255, 255);
    
}

.painel ul{
    color:aliceblue;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    list-style-type:none;
}

#adcionar_tarefa{
    margin: 15px;
    font-family: 'Source Code Pro', monospace;
    background-color: blueviolet;
    color: rgb(240, 240, 240);
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: -3px 3px;
}

#adcionar_tarefa:hover{
    background-color: rgb(84, 17, 148);
    transition:0.3s;
}

dt checlist{
    padding: 10px;
}


/*font-family:Space Grotesk*/

